<div class="flex min-h-screen flex-col justify-center px-6 py-12 lg:px-8 bg-[#ECEBDE]">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="/images/teako.png" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">
        Sign in to your account
      </h2>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <div>
            <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>
            <div class="mt-2">
              <input
                type="email"
                id="email"
                formControlName="email"
                autocomplete="email"
                required
                class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
              />
            </div>
            <div *ngIf="submited && loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="mt-1 text-sm text-red-600">
              <div *ngIf="submited && loginForm.get('email')?.errors?.['required']">
                Email is required.
              </div>
              <div *ngIf="submited && loginForm.get('email')?.errors?.['email']">
                Please enter a valid email address.
              </div>
            </div>
          </div>
          
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
            <div class="text-sm">
              <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
            </div>
          </div>
          <div class="mt-2">
            <input
              type="password"
              id="password"
              formControlName="password"
              autocomplete="current-password"
              required
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            />
          </div>
          <div *ngIf="submited && loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="mt-1 text-sm text-red-600">
            Password is required.
          </div>
        </div>
  
        <div>
          <button
            type="submit"
            [disabled]="loginForm.invalid"
            class="flex w-full justify-center rounded-md bg-[#F89F1F] px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-amber-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-500 disabled:opacity-50"
          >
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
  