<div class="flex items-center justify-center flex-col gap-3 ">
    <div class="h-32 md:h-40 lg:h-64  grid grid-cols-3">
      <!-- First Column (Text Section) -->
      <div class="h-full bg-[#ffe7df] flex justify-center items-center p-4 md:p-6 lg:p-8">
        <div class="w-full h-full bg-white flex items-center justify-center flex-col gap-2 text-[#F89F1F]">
          <div class="flex justify-center items-center">
            <span><i class="fa-solid fa-minus"></i></span>
            <p class="text-[8px] md:text-sm">PRODUCTS AT</p>
            <span><i class="fa-solid fa-minus"></i></span>
          </div>
          <div class="text-[12px] md:text-3xl lg:text-4xl font-extrabold">
            60 - 70 % off
          </div>
        </div>
      </div>
    
      <!-- Second Column (Image Section) -->
      <div class="col-span-2 h-full w-full overflow-hidden">
        <img src="/images/pexels-heyho-6980714.jpg" alt="Product Image" class="w-full h-full object-cover">
      </div>
    </div>
    <button class="bg-[#F89F1F] text-[#382A1E] font-black py-2 px-4 md:px-10 rounded">Book now</button>
  </div>


  <!-- second part  -->

  <div class="grid  md:grid-cols-2 gap-2">
    <div class="flex items-center justify-center flex-col gap-3 mt-2  ">
      <div class="h-32 md:h-40 lg:h-64  grid grid-cols-3">
        <!-- First Column (Text Section) -->
        <div class="h-full bg-[#ffe7df] flex justify-center items-center p-4 md:p-6 lg:p-8">
          <div class="w-full h-full bg-white flex items-center justify-center flex-col gap-2 text-[#F89F1F]">
            <div class="flex justify-center items-center">
              <span><i class="fa-solid fa-minus"></i></span>
              <p class="text-[8px] md:text-[5px] lg:text-[10px]">PRODUCTS AT</p>
              <span><i class="fa-solid fa-minus"></i></span>
            </div>
            <div class="text-[12px] md:text-[10px] xl:text-xl  font-extrabold">
              60 - 70 % off
            </div>
          </div>
        </div>
      
        <!-- Second Column (Image Section) -->
        <div class="col-span-2 h-full w-full overflow-hidden">
          <img src="/images/pexels-algrey-3705539.jpg" alt="Product Image" class="w-full h-full object-cover">
        </div>
      </div>
      <button class="bg-[#F89F1F] text-[#382A1E] font-black py-2 px-4 md:px-10 rounded">Book now</button>
    </div>

    <!-- second -->
    <div class="flex items-center justify-center flex-col gap-3 mt-2  ">
      <div class="h-32 md:h-40 lg:h-64  grid grid-cols-3">
        <!-- First Column (Text Section) -->
        <div class="h-full bg-[#ffe7df] flex justify-center items-center p-4 md:p-6 lg:p-8">
          <div class="w-full h-full bg-white flex items-center justify-center flex-col gap-2 text-[#F89F1F]">
            <div class="flex justify-center items-center">
              <span><i class="fa-solid fa-minus"></i></span>
              <p class="text-[8px] md:text-[5px] lg:text-[10px]">PRODUCTS AT</p>
              <span><i class="fa-solid fa-minus"></i></span>
            </div>
            <div class="text-[12px] md:text-[10px] xl:text-xl  font-extrabold">
              60 - 70 % off
            </div>
          </div>
        </div>
      
        <!-- Second Column (Image Section) -->
        <div class="col-span-2 h-full w-full overflow-hidden">
          <img src="/images/pexels-dilrubasaricimen-7486484.jpg" alt="Product Image" class="w-full h-full object-cover">
        </div>
      </div>
      <button class="bg-[#F89F1F] text-[#382A1E] font-black py-2 px-4 md:px-10 rounded">Book now</button>
    </div>
  </div>