<div 
  class="h-96 md:h-screen mt-32 bg-cover bg-center relative overflow-hidden flex items-center justify-center" 
  [ngStyle]="{ 'background-image': currentBackground() }"
>
  <!-- Gradient overlay -->
  <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"></div>
  
  <!-- Animated text -->
  <p 
    class="font-juilius text-[25px] md:text-[40px] text-white w-1/2 text-center relative z-10" 
    [ngClass]="{ 'animate-slide-up': animate }"
  >
    {{ slides[currentSlideIndex].description }}
  </p>
  
  <button (click)="prevSlide()" class="bg-gray-800 absolute top-2/4 left-6 text-white p-2 rounded z-10">❮</button>
  <button (click)="nextSlide()" class="bg-gray-800 absolute top-2/4 right-6 text-white p-2 rounded z-10">❯</button>
</div>
